/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */

:root {
    --brown: #91785D;
    --dark-green: #869D78;
    --light-blue: #A7CDBD;
    --light-green: #BBE1C3;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Application Styles */

body {
    background-color: var(--light-blue);
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 80%;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.main-search {
    background: transparent;
    border: none;
    border-bottom: 0.25rem solid var(--brown);
    color: var(--brown);
    font-size: 2rem;
    margin: 1rem 0;
    outline: none;
    padding: 0.5rem 0;
    text-transform: uppercase;
    width: 100%;
}

.main-btn {
    background: transparent;
    border: 0.15rem solid var(--brown);
    color: var(--brown);
    border-radius: 0.25rem;
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    text-transform: capitalize;
    transition: all 0.3s linear;
    width: 50%;
}

.main-btn:hover {
    background-color: var(--brown);
    color: var(--light-blue);
}

.wait-icon {
    display: none;
    margin: 0 auto;
}

.show {
    display: block;
}

.search-item {
    background-color: var(--light-green);
    border: 0.05rem solid var(--dark-green);
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px var(--dark-green);
    list-style-type: none;
    margin: 1rem 0;
    padding: 1rem;
    text-align: left;
}

.search-item-title {
    /* letter-spacing: 0.4rem; */
    text-transform: uppercase;
}

.search-item-text {
    /* letter-spacing: 0.3rem; */
    margin: 0.5rem 0;
}

.search-item-link {
    color: var(--brown);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.search-item-link:hover {
    color: var(--dark-green);
}

@media screen and (min-width: 992px) {
    .results {
        display: grid;

        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}